<section class="bg-one-aml amlseries section">
  <div class="col-12">
    <div class="title wow fadeIn" data-wow-duration="1500ms">
      <h2>AML<span class="color">Series</span></h2>
      <div class="border"></div>
    </div>

    <div class="row wow fadeInUp" data-wow-duration="500ms">
      <div class="img-prod col-4">
        <carousel (activeSlideChange)="log($event)" [interval]="0">
          <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>

      <div class="col-8 desc-prod">
        <div class="details-install">A linha de produtos AML foi desenvolvido com o objetivo de oferecer um acabamento
          de qualidade para o ponto
          de despejo de água da máquina de lavar roupa. O material fornece um maior conforto estético visual para sua
          casa.</div>

        <div class="details-install">
          Tamanhos disponíveis:
          <a (click)="selectTab(0)">
            <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>45AML50 - Inclinação de 45º com
              diâmetro de 50mm.</div>
          </a>
          <a (click)="selectTab(1)">
            <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>45AML40 - Inclinação de 45º com
              diâmetro de 40mm.</div>
          </a>
          <a (click)="selectTab(2)">
            <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>90AML50 - Ângulo de 90º com
              diâmetro
              de 50mm.</div>
          </a>
          <a (click)="selectTab(3)">
            <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>90AML40 - Ângulo de 90º com
              diâmetro
              de 40mm com anel ou sem anel.</div>
          </a>
        </div>
      </div>
    </div>


    <div class="details row wow fadeInUp" data-wow-duration="500ms">

      <div>
        <tabset #staticTabs>
          <tab class="tab-details" heading="ESPECIFICAÇÃO">
            <div class="details-install">
              A linha de produto AML apresenta uma geometria circular com diâmetro de 100 mm que faceará a cerâmica com
              uma seção cilíndrica localizada atrás da peça que possui uma inclinação de 45º e se encaixa no tubo de
              esgoto com diâmetro dentro dos tamanhos disponíveis.
              O produto apresenta abertura frontal para a entrada das mangueiras utilizadas nas máquinas de lavar roupa.
            </div>
          </tab>

          <tab class="tab-details" heading="INSTALAÇÃO">
            <div class="details-install">
              O produto será encaixado diretamente no tubo de esgoto com inclinação de 45º.
              Não será necessário nenhum tipo de cola, massa ou rejunte para fixar o produto, trata-se de uma instalação
              limpa. As fotos e o vídeo abaixo demonstram a instalação.
            </div>
            <div class="row details-prod">
              <div class="row img-install">
                <div class="col-4">
                  <carousel (activeSlideChange)="log($event)" [interval]="0">
                    <slide *ngFor="let slide of slides_install; let index=index">
                      <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
                    </slide>
                  </carousel>
                </div>
                <div class="col-8">
                  <div class="details-install">{{slideChangeMessage}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <iframe width="560" height="315"
                    src="https://www.youtube-nocookie.com/embed/8MgvpDUxvE4?si=jK39LEItcsOYpTbK"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;fullscreen;"></iframe>
                </div>
              </div>
              <div class="col-6"></div>
            </div>
          </tab>
        </tabset>
      </div>
      <hr />
    </div>
  </div>
</section>
