#header {
  background-color: #1e2024;
  overflow        : hidden;
  z-index         : 999999;
  position        : fixed;
  width           : 100%;
  border-radius   : 0 0 15px 15px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 100%;
}

.bd-menu {
  position    : relative;
  padding     : 1rem;
  margin      : 1rem -15px 0;
  border      : solid #f8f9fa;
  border-width: 0.2rem 0 0;
}

.navbar {
  width: 100%;
}

.navbar-brand {
  width          : 50%;
  justify-content: space-between;
}

.navbar a {
  font-size      : 14px;
  text-decoration: none;
}

.navbar-collapse {
  flex-basis     : 100%;
  flex-grow      : 1;
  align-items    : center;
  justify-content: end !important;
  margin-right   : 10px;
}

.logo-menu {
  width  : 50%;
  padding: 0 0 7px 0;
}

#navbarSupportedContent {
  justify-content: center;
}

ul.navbar-nav li.nav-item {
  margin-right: 25px;
}

ul.navbar-nav li.nav-item:last-child {
  margin-right: 0;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #737f8a;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #eb7625;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #eb7625;
}


@media screen and (max-width: 963px) {

  .logo-menu {
    width: 100%;
  }
}
