<section id="client" class="client section">
  <div class="row">

    <div class="col-12">
      <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
        <h2>Our <span class="color">Client</span> </h2>
        <div class="border"></div>
      </div>

      <div class="wrapper">
        <div class="box"><img src="../../assets/img/clients/mrv.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/tenda.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/leroymerlin.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/ambar.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/smartpods.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/emccamp.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/bild.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/vitta.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/inc-empr.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/realiza.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/patrimar.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/novolar.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/brasal.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/jotanunes.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/grupoecher.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/conx.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/rn-motagem.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/sop.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/calper.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/systemeng.png" alt=""></div>
        <div class="box"><img src="../../assets/img/clients/canopus.png" alt=""></div>
      </div>
    </div>

    <div class="text-center">
      <button>
        and many others
      </button>
    </div>


  </div>
</section>

<section id="counter" class="parallax-section bg-1 section overly">
  <div class="row">

    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
      <div class="counters-item">
        <span data-count="320">0</span>
        <h3>clients</h3>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms"
      data-wow-delay="200ms">
      <div class="counters-item">
        <span data-count="565">0</span>
        <h3>housing</h3>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms"
      data-wow-delay="400ms">
      <div class="counters-item">
        <span data-count="95">0</span>
        <h3>Produced parts</h3>

      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms"
      data-wow-delay="600ms">
      <div class="counters-item kill-margin-bottom">
        <span data-count="2500">0</span>
        <h3>Contracts</h3>
      </div>
    </div>

  </div>
</section>
