.client {
  background-color: #363a43;
  height          : auto;
  padding-bottom  : 5rem;
}

.bg-one {
  background-color: #363a43;
}

.color {
  color: #eb6516;
}

.border {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height    : 1px;
  margin    : 15px auto 0;
  position  : relative;
  width     : 30%;
  border    : 1px solid #dee2e6 !important;
}

.border:before {
  content         : "";
  height          : 6px;
  left            : 50%;
  margin-left     : -20px;
  position        : absolute;
  top             : -4px;
  width           : 50px;
  background-color: #eb6516;
}

.title {
  padding-top   : 60px;
  padding-bottom: 60px;
}

.title h2 {
  text-transform: capitalize;
  font-weight   : 700;
  font-size     : 38px;
  color         : #fff;
}

.title h2 span {
  color: #eb6516;
}

.title p {
  color: #666;
}

.title.title-white h2 {
  color: #fff;
}

.clients-grid {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(min(11rem, 100%), 1fr));
  row-gap              : 2rem;
  column-gap           : 4rem;
}

.client-block {
  padding         : 10px;
  border          : 1px solid rgba(236, 239, 241, 0.07);
  margin          : auto;
  display         : block;
  border-radius   : 0px;
  box-shadow      : 3px 3px 7px rgba(236, 239, 241, 0.07), 3px 3px 7px rgba(236, 239, 241, 0.07);
  background-color: #252a31;
}

img {
  max-width : 220px;
  max-height: 149px;
  filter    : grayscale(80%) contrast(120%);
}

.bg-1 {
  background-image : url("../../assets/img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size  : cover;
}

.parallax-section {
  background-attachment: fixed !important;
  background-position  : center center;
  background-repeat    : no-repeat;
  background-size      : cover;
}

.section {
  padding: 100px 0;
}

@media (max-width: 480px) {
  .section {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 50px 0;
}

.counters-item {
  padding      : 25px 0;
  margin-bottom: 10px;
  background   : #292F36;
  color        : #737f8a;
}

.counters-item i {
  margin-bottom: 10px;
  font-size    : 40px;
  display      : inline-block;
}

.counters-item span {
  display    : block;
  font-weight: bold;
  font-size  : 35px;
  line-height: 50px;
}

.counters-item h3 {
  font-size: 20px;
  margin   : 0;
}
