.client {
  background-color: #363a43;
  height          : auto;
}

.section {
  padding: 50px 50px;
}


.title {
  padding-top   : 60px;
  padding-bottom: 60px;
}

.title h2 {
  text-transform: capitalize;
  font-weight   : 700;
  font-size     : 38px;
  color         : #fff;
}

.title h2 span {
  color: #eb6516;
}

.title p {
  color: #666;
}

.title.title-white h2 {
  color: #fff;
}

.color {
  color: #eb6516;
}

.border {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height    : 1px;
  margin    : 15px auto 0;
  position  : relative;
  width     : 30%;
  border    : 1px solid #dee2e6 !important;
}

.border:before {
  content         : "";
  height          : 6px;
  left            : 50%;
  margin-left     : -20px;
  position        : absolute;
  top             : -4px;
  width           : 50px;
  background-color: #eb6516;
}

.wrapper {
  display  : flex;
  flex-wrap: wrap;
}

.box {
  aspect-ratio  : 3/2;
  object-fit    : contain;
  mix-blend-mode: luminosity;
  padding       : 10px;
}

.box:hover {
  mix-blend-mode: normal;
}

.box img {
  width: 100%;
}

//2 tela
.parallax-section {
  background-attachment: fixed !important;
  background-position  : center center;
  background-repeat    : no-repeat;
  background-size      : cover;
}

.bg-1 {
  background-image : url("../../assets/img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size  : cover;
}


.counters-item {
  padding      : 25px 0;
  margin-bottom: 10px;
  background   : #292F36;
  color        : #737f8a;
}

.counters-item i {
  margin-bottom: 10px;
  font-size    : 40px;
  display      : inline-block;
}

.counters-item span {
  display    : block;
  font-weight: bold;
  font-size  : 35px;
  line-height: 50px;
}

.counters-item h3 {
  font-size: 20px;
  margin   : 0;
}

button {
  color: white;
  text-decoration: none;
  font-size: 15px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

button::before {
  margin-left: auto;
}

button::after, button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #eb6516;
  display: block;
  transition: 0.5s;
}

button:hover::after, button:hover::before {
  width: 100%;
}

@media screen and (max-width: 963px) {
  .section {
    padding: 50px 20px;
  }

  .wrapper {
    display    : grid;
    grid-column: 2;
  }
}

@media (max-width: 1024px) {
  .clients-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
    row-gap              : 2rem;
    column-gap           : 3rem;
  }
}
