<section class="bg-one client section">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
          <h2>Our <span class="color">Client</span> </h2>
          <div class="border"></div>
        </div>

        <div class="clients-grid">
          <div class="client-block text-center">
            <img src="../../assets/img/clients/leroymerlin.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/tenda.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/ambar.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/bild.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/vitta.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/grupoecher.png" alt="">
          </div>
          <div class="client-block text-center">
            <img src="../../assets/img/clients/emccamp.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/systemeng.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/calper.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/inter.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/cury.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/cancellaeng.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/queirozgalvao.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/apfeng.png" alt="">
          </div>

          <div class="client-block text-center">
            <img src="../../assets/img/clients/mrv.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="counter" class="parallax-section bg-1 section overly">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
        <div class="counters-item">
          <i class="tf-ion-android-happy"></i>
          <span class="jsCounter" data-count="320">0</span>
          <h3>count</h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms"
        data-wow-delay="200ms">
        <div class="counters-item">
          <i class="tf-ion-archive"></i>
          <span class="jsCounter" data-count="565">0</span>
          <h3>count</h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms"
        data-wow-delay="400ms">
        <div class="counters-item">
          <i class="tf-ion-thumbsup"></i>
          <span class="jsCounter" data-count="95">0</span>
          <h3>count</h3>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms"
        data-wow-delay="600ms">
        <div class="counters-item kill-margin-bottom">
          <i class="tf-ion-coffee"></i>
          <span class="jsCounter" data-count="2500">0</span>
          <h3>count</h3>
        </div>
      </div>

    </div>
  </div>
</section>
