<section id="about" class="about section">
  <div class="row">

    <div class="col-12">
      <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
        <h2>About <span class="color">Us</span> </h2>
        <div class="border"></div>
      </div>
    </div>

    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
      <div class="block">
        <div class="icon-box">
          <fa-icon [icon]="pencil"></fa-icon>
        </div>
        <div class="content text-center">
          <h3 class="ddd">We're innovators</h3>
          <p>We are a company that is always ahead of its time, finding creative and effective solutions to everyday and
            special challenges.</p>
          <p>Our work begins with project design, prototype construction, product creation and industrial-scale
            manufacture.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
      <div class="block">
        <div class="icon-box">
          <fa-icon [icon]="strategy"></fa-icon>
        </div>
        <div class="content text-center">
          <h3>We're courageous</h3>
          <p>
            BLOCKTECH is an innovative product development company operating in the field of temporary blockers.</p>
          <p>We eliminate the problem of blockages in electrical, special and hydro-sanitary installations in
            residential and industrial buildings.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
      <div class="block kill-margin-bottom">
        <div class="icon-box">
          <fa-icon [icon]="doers"></fa-icon>
        </div>
        <div class="content text-center">
          <h3>We're doers</h3>
          <p>We offer our customers quality products and materials. Guaranteeing that problems are solved and the
            product is effective for your needs.</p>
          <p>Our products are patented and designed to suit each client's construction process.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="call-to-action section-sm bg-1 overly">
  <div class="row">
    <div class="col-md-12 card-banner">
      <div class="text-banner text-center ">
        <div class="txt-check">
          <fa-icon [icon]="check" class="faCheck"></fa-icon>
          <h2>+ 400 </h2>
          <p class="desc-banner"> thousand households have used our products</p>
        </div>
        <hr>
        <div class="txt-check">
          <fa-icon [icon]="check" class="faCheck"></fa-icon>
          <h2>10 years </h2>
          <p class="desc-banner">of innovative product development</p>
        </div>
        <hr>
        <a href="#contact" class="btn btn-main">Start a project with us</a>
      </div>
    </div>
  </div>
</section>
