<section id="about" class="about section">
  <div class="row">

    <div class="col-12">
      <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
        <!-- <h2>About <span class="color">Us</span> </h2> -->
        <h2>Sobre <span class="color">nós</span> </h2>
        <div class="border"></div>
      </div>
    </div>

    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
      <div class="block">
        <div class="icon-box">
          <fa-icon [icon]="pencil"></fa-icon>
        </div>
        <div class="content text-center">
          <!-- <div class="title-card-about">We're innovators</div> -->
          <div class="title-card-about">Somos inovadores</div>
          <!-- <div class="desc-card-about">We are a company that is always ahead of its time, finding creative and effective solutions to everyday and special challenges.</div> -->
          <div class="desc-card-about">Somos uma empresa que está sempre à frente do seu tempo, encontrando soluções
            criativas e eficazes para desafios quotidianos e especiais.</div>
          <!-- <div class="desc-card-about">Our work begins with project design, prototype construction, product creation and industrial-scale manufacture.</div> -->
          <div class="desc-card-about">Nosso trabalho começa com a concepção do projeto, construção de protótipos,
            criação de produtos e fabricação em escala industrial.</div>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
      <div class="block">
        <div class="icon-box">
          <fa-icon [icon]="strategy"></fa-icon>
        </div>
        <div class="content text-center">
          <!-- <div class="title-card-about">We're courageous</div> -->
          <div class="title-card-about">Somos corajosos</div>
          <!-- <div class="desc-card-about">BLOCKTECH is an innovative product development company operating in the field of temporary blockers.</div> -->
          <div class="desc-card-about">A BLOCKTECH é uma empresa inovadora de desenvolvimento de produtos que atua na
            área de bloqueadores temporários.</div>
          <!-- <div class="desc-card-about">We eliminate the problem of blockages in electrical, special and hydro-sanitary installations in residential and industrial buildings.</div> -->
          <div class="desc-card-about">Solucionamos problemas de bloqueios em instalações elétricas, especiais e
            hidrossanitárias em edifícios residenciais e industriais.</div>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
      <div class="block kill-margin-bottom">
        <div class="icon-box">
          <fa-icon [icon]="doers"></fa-icon>
        </div>
        <div class="content text-center">
          <!-- <div class="title-card-about">We're doers</div> -->
          <div class="title-card-about">Nós somos fazedores</div>
          <!-- <div class="desc-card-about">We offer our customers quality products and materials. Guaranteeing that problems are solved and the product is effective for your needs.</div> -->
          <div class="desc-card-about">Oferecemos aos nossos clientes produtos e materiais de qualidade. Garantindo
            total satisfação no produto com eficiência a suas necessidades.</div>
          <!-- <div class="desc-card-about">Our products are patented and designed to suit each client's construction process.</div> -->
          <div class="desc-card-about">Nossos produtos são patenteados e projetados de acordo com o processo construtivo
            de cada cliente.</div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="call-to-action-about section-sm bg-1-about overly">
  <div class="col-12">
    <div class="row">
      <p class="desc-banner-titulo">
        <i-bs name="plus" width="60" height="60"></i-bs>400
      </p>
      <p class="desc-banner">
        <!-- thousand households have used our products -->
        famílias usam nossos produtos
      </p>
    </div>

    <div class="row">
      <p class="desc-banner-titulo">
        <!-- 10 YEARS -->
        10 ANOS
      </p>
      <p class="desc-banner">
        <!-- of innovative product development -->
        de desenvolvimento de produtos inovadores
      </p>
    </div>
    <div class="text-center">
      <!-- <a href="#contact" class="btn-about btn-main-about">Start a project with us</a> -->
      <a href="#contact" class="btn-about btn-main-about">INICIE UM PROJETO CONOSCO</a>
    </div>
  </div>
</section>
