 .about {
   background-color: #363a43;
   height          : auto;
 }

 fa-icon {
   color: #666666;
 }

 .section {
   padding: 0 25px;
 }

 .color {
   color: #eb7625;
 }

 .border {
   border-top: 2px solid rgba(236, 239, 241, 0.07);
   height    : 1px;
   margin    : 15px auto 0;
   position  : relative;
   width     : 30%;
   border    : 1px solid #dee2e6 !important;
 }

 .border:before {
   content         : "";
   height          : 6px;
   left            : 50%;
   margin-left     : -20px;
   position        : absolute;
   top             : -4px;
   width           : 50px;
   background-color: #eb7625;
 }

 .title {
   padding-top   : 50px;
   padding-bottom: 50px;
 }

 .title h2 {
   text-transform: capitalize;
   color         : #fff;
 }

 .title h2 span {
   color: #eb7625;
 }

 .title.title-white h2 {
   color: #fff;
 }

 .title-card-about {
   width          : 100%;
   display        : flex;
   flex-direction : row;
   justify-content: center;
   color          : #dee2e6;
   font-size      : 16px;
   padding        : 20px 0 20px 0;
   font-family    : 'LEMONMILK-Bold', Arial, Helvetica, sans-serif !important;
 }

 .desc-card-about {
   color      : #dee2e6;
   font-size  : 15px;
   padding    : 10px 0 10px 0;
   font-family: 'Effra-Regular', Arial, Helvetica, sans-serif !important;
 }

 .block {
   max-height: 39rem;
   min-height: 31rem;
 }

//  .row>* {
//    flex-shrink  : 0;
//    width        : 100%;
//    max-width    : 100%;
//    padding-right: 0 !important;
//    padding-left : 0 !important;
//    margin-top   : 0 !important;
//  }

 .about .block {
   background   : #242930;
   padding      : 30px;
   border-bottom: 2px solid transparent;
   transition   : 0.5s all;
   margin-bottom: 20px;
   border-radius: 15px;
 }

 .about .block:hover {
   border-bottom: 2px solid #eb7625;
 }

 .about .block:hover .icon-box {
   transform: translateY(-10px);
 }

 .about .block .icon-box {
   position           : relative;
   width              : 160px;
   height             : 92.38px;
   background-color   : transparent;
   margin             : 46.19px auto 60px;
   padding            : 20px 0;
   border-left        : 2px solid rgba(236, 239, 241, 0.07);
   border-right       : 2px solid rgba(236, 239, 241, 0.07);
   font-size          : 50px;
   transform          : translateZ(0px);
   transition-duration: 0.3s;
   transition-property: transform;
 }

 .about .block .icon-box:after,
 .about .block .icon-box:before {
   content         : "";
   position        : absolute;
   z-index         : 1;
   width           : 113.14px;
   height          : 113.14px;
   background-color: inherit;
   left            : 20.4315px;
   transform       : scaleY(0.5774) rotate(-45deg);
 }

 .about .block .icon-box:before {
   top         : -56.5685px;
   border-top  : 2px solid rgba(236, 239, 241, 0.07);
   border-right: 2px solid rgba(236, 239, 241, 0.07);
 }

 .about .block .icon-box:after {
   bottom       : -56.5685px;
   border-bottom: 2px solid rgba(236, 239, 241, 0.07);
   border-left  : 2px solid rgba(236, 239, 241, 0.07);
 }

 .about .block .icon-box h3 {
   color: #afbac4;
 }

 p {
   margin-top   : 0;
   margin-bottom: 1rem;
   color        : #afbac4;
 }

 h3 {
   font-weight: 400;
   color      : #afbac4;
 }

 h4 {
   color: #ffffff;
 }

 .call-to-action-about {
   background-attachment: fixed;
 }

 .call-to-action-about .btn-main {
   margin       : 20px 20px 20px 20px;
   border-radius: 15px;
 }

 .section-sm {
   padding: 50px 0;
 }

 .bg-1-about::before {
   content        : "";
   width          : 100vw;
   height         : 100%;
   align-items    : center;
   display        : flex;
   flex-direction : row;
   flex-wrap      : wrap;
   justify-content: center;
   position       : relative;
 }

 .bg-1-about {
   background-image   : url("../../../assets/img/fundo02.png");
   background-repeat  : no-repeat;
   background-size    : cover;
   background-position: top;
   inset              : 0;
   z-index            : -1;
 }

 .btn-about {
   background-color: transparent;
   color           : #fff;
   padding         : 10px 30px;
   border-radius   : 15px;
   transition      : all 0.3s ease-in 0s;
 }

 .btn-about:focus {
   color     : #ddd;
   box-shadow: none;
 }

 .btn-about.active:focus,
 .btn-about:active:focus,
 .btn-about:focus {
   outline: 0;
 }

 .btn-main-about {
   background           : #eb7625;
   background-image     : -webkit-linear-gradient(top, #eb6516, #ec8c55);
   background-image     : -moz-linear-gradient(top, #eb6516, #ec8c55);
   background-image     : -ms-linear-gradient(top, #eb6516, #ec8c55);
   background-image     : -o-linear-gradient(top, #eb6516, #ec8c55);
   background-image     : linear-gradient(to bottom, #eb6516, #ec8c55);
   -webkit-border-radius: 15;
   -moz-border-radius   : 15;
   border-radius        : 15px;
   color                : #ffffff;
   font-size            : 18px;
   padding              : 10px 16px 10px 20px;
   text-decoration      : none;
 }

 .btn-main:hover {
   background     : #eb7625;
   text-decoration: none;
 }

 .faCheck {
   color    : #eb7625;
   font-size: 2rem;
 }

 .desc-banner-titulo {
   font-size  : 45px;
   color      : #363a43;
   width      : 100%;
   text-align : center;
   font-weight: 800;
   font-family: 'LEMONMILK-Bold', Arial, Helvetica, sans-serif !important;
 }

 .desc-banner {
   font-size  : 25px;
   color      : #363a43;
   width      : 100%;
   text-align : center;
   margin-top : -24px;
   font-family: 'LEMONMILK-Bold', Arial, Helvetica, sans-serif !important;
 }

 @media screen and (max-width: 963px) {

   .block {
     max-height: 100%;
     min-height: 31rem;
   }

   .about-2 .content-block {
     padding: 40px 15px;
   }

   .desc-banner[_ngcontent-wrd-c29] {
     text-shadow: 1px 1px 2px #363a43;
     width      : 100%;
     text-align : center;
     font-weight: 600;
   }
 }
