.pflseries {
  height: auto;
}

.bg-one-pfl {
  background-color: #252a31;
  color           : #afbac4;
}

.section {
  padding: 0 25px;
}

.color {
  color: #eb7625;
}

.border {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height    : 1px;
  margin    : 15px auto 0;
  position  : relative;
  width     : 30%;
  border    : 1px solid #dee2e6 !important;
}

.border:before {
  content         : "";
  height          : 6px;
  left            : 50%;
  margin-left     : -20px;
  position        : absolute;
  top             : -4px;
  width           : 50px;
  background-color: #eb7625;
}

.title {
  padding-top   : 50px;
  padding-bottom: 50px;
}

.title h2 {
  font-weight    : 700;
  font-size      : 30px;
  color          : #fff;
  display        : flex;
  justify-content: center;
}

.title h2 span {
  color: #eb7625;
}

.title p {
  color: #666;
}

.title.title-white h2 {
  color: #fff;
}

.img-prod {
  text-align    : center;
  padding-bottom: 1rem;
}

.closed {
  padding: 5px 5px 5px 10px;
}

.icon-check {
  color       : #eb7625;
  margin-right: 10px;
}

.responsive-iframe {
  position       : absolute;
  top            : 0;
  left           : 0;
  bottom         : 0;
  right          : 0;
  width          : 100%;
  height         : 100%;
  display        : flex;
  justify-content: center;
}

.details {
  padding-top: 5rem;
}

.tab-content {
  display   : block;
  padding   : 25px 25px 25px 25px;
  text-align: justify;
}

.desc-prod {
  text-align: justify;
  padding   : 0 120px 36px 50px;
}

.details-prod {
  align-items    : center;
  display        : flex;
  justify-content: center;
}

.nav {
  --bs-nav-link-padding-x     : 1rem;
  --bs-nav-link-padding-y     : 0.5rem;
  --bs-nav-link-font-weight   : ;
  --bs-nav-link-color         : #eb7625;
  --bs-nav-link-hover-color   : #737f8a;
  --bs-nav-link-disabled-color: #969ea5;
  display                     : flex;
  flex-wrap                   : wrap;
  padding-left                : 0;
  margin-bottom               : 0;
  list-style                  : none;
}

.tab-details {
  display        : block;
  font-size      : 0.8em !important;
  font-weight    : 700 !important;
  color          : #eb7625 !important;
  text-decoration: none;
  background     : none;
  border         : 0;
  transition     : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.details-desc {
  color      : #afbac4;
  margin     : 12px 12px 12px 12px;
  font-size  : 17px;
  font-weight: 500 !important;
  font-family: 'Effra-Regular', Arial, Helvetica, sans-serif !important;
}

.details-install {
  color      : #afbac4;
  font-size  : 17px;
  font-weight: 500 !important;
  font-family: 'Effra-Regular', Arial, Helvetica, sans-serif !important;
}

.desc-step-install {
  color      : #afbac4;
  font-size  : 14px;
  font-weight: 500 !important;
  font-family: 'Effra-Regular', Arial, Helvetica, sans-serif !important;
  margin-top : 30px;
}

.img-install {
  padding        : 20px 0 20px 0;
  display        : flex;
  justify-content: center;
}

.productall {
  padding: 1rem 1rem;
}

.carousel-indicators {
  position       : absolute;
  right          : 0;
  bottom         : 0;
  left           : 0;
  z-index        : 2;
  display        : flex;
  justify-content: center;
  padding        : 0;
  margin-right   : 15%;
  margin-bottom  : -1rem !important;
  margin-left    : 15%;
  list-style     : none;
}

.border-line {
  border-top: 1px solid rgba(236, 239, 241, 0.07);
  height    : 1px;
  margin    : 15px auto 0;
  position  : relative;
  width     : 100%;
  border    : 0.5px solid #dee2e6 !important;
}

.border-install {
  border-radius: 15px;
  background   : linear-gradient(145deg, #21262c, #282d34);
  box-shadow   : 5px 5px 19px #14171a,
    -5px -5px 19px #363d48;
}

.imgs-product {
  display      : block;
  width        : 100%;
  height       : auto;
  border-radius: 15px;
}

.video {
  width : 420px;
  height: 340px;
}

@media screen and (max-width: 963px) {

  .col-4 {
    flex : 0 0 auto;
    width: 100%;
  }

  .col-8 {
    flex : 0 0 auto;
    width: 100%;
  }

  .col-3 {
    flex : 0 0 auto;
    width: 100%;
  }

  .video {
    width        : 100%;
    height       : auto;
    margin-bottom: 30px;
  }

  .img-prod {
    width: 100%;
  }

  .tab-content {
    padding: 25px 0 0 0;
  }

  .desc-prod {
    padding: 25px 0 0 0;
  }

  .details {
    padding-top: 3rem;
  }
}

/* TEMPORY */

.btn-about {
  background-color: transparent;
  color           : #fff;
  padding         : 10px 30px;
  border-radius   : 15px;
  transition      : all 0.3s ease-in 0s;
}

.btn-main-about {
  background           : #eb7625;
  background-image     : -webkit-linear-gradient(top, #eb6516, #ec8c55);
  background-image     : -moz-linear-gradient(top, #eb6516, #ec8c55);
  background-image     : -ms-linear-gradient(top, #eb6516, #ec8c55);
  background-image     : -o-linear-gradient(top, #eb6516, #ec8c55);
  background-image     : linear-gradient(to bottom, #eb6516, #ec8c55);
  -webkit-border-radius: 15;
  -moz-border-radius   : 15;
  border-radius        : 15px;
  color                : #ffffff;
  font-size            : 18px;
  padding              : 10px 16px 10px 20px;
  text-decoration      : none;
}

.btn-main-about:hover {
  background     : #eb7625;
  text-decoration: none;
}
