#header {
  background-color: #1e2024;
  overflow        : hidden;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 100%;
}

.bd-menu {
  position    : relative;
  padding     : 1rem;
  margin      : 1rem -15px 0;
  border      : solid #f8f9fa;
  border-width: 0.2rem 0 0;
}

.navbar {
  width: 100%;
}

.navbar-toggler:hover {
  text-decoration: none;
  margin-right   : 10px;
}

.navbar-brand {
  width          : 50%;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
}

.navbar-collapse {
  flex-basis     : 100%;
  flex-grow      : 1;
  align-items    : center;
  justify-content: end !important;
  margin-right   : 10px;
}

.logo-menu {
  width: 50%;
}

h2.logo {
  font-size  : 28px;
  font-weight: 400;
  color      : #fff;
}

h2.logo strong {
  font-size  : 35px;
  color      : #eb6516;
  font-weight: 600;
}

h2.center-logo {
  margin: 0 25px;
}

#navbarSupportedContent {
  justify-content: center;
}

ul.navbar-nav li.nav-item {
  margin-right: 25px;
}

ul.navbar-nav li.nav-item:last-child {
  margin-right: 0;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #737f8a;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #eb6516;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #eb6516;
}


@media screen and (max-width: 963px) {

  .logo-menu {
    width: 140%;
  }

  .navbar-nav {
    --bs-nav-link-padding-x     : 0;
    --bs-nav-link-padding-y     : 0.5rem;
    --bs-nav-link-font-weight   : ;
    --bs-nav-link-color         : var(--bs-navbar-color);
    --bs-nav-link-hover-color   : var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display                     : flex;
    flex-direction              : row;
    padding                     : 15px;
    margin-bottom               : 0;
    list-style                  : none;
  }
}
