<section id="product" class="product section">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
          <h2>Our <span class="color">Products</span> </h2>
          <div class="border"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">

        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/AML/AML-45.50.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">AML Series</h5>
              <p class="card-text">Washing machine water outlet aesthetic finish</p>
            </div>
            <div class="card-footer text-muted">
              <div class="btn-card" #container>
                <a routerLink="/aml-series" class="btn btn-main-product">more details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/BTA/BTA-150.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BTA Series</h5>
              <p class="card-text">Universal temporary blocker with handle and drain system for use with siphon drain
                systems</p>
            </div>
            <div class="card-footer text-muted">
              <div class="btn-card"><a href="/bta-series" class="btn btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/BT/BT-100.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BT Series</h5>
              <p class="card-text">Temporary blocker for sewer pipes</p>
            </div>
            <div class="card-footer text-muted">
              <div class="btn-card"><a href="/bt-series" class="btn btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BC/BCA-40.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BC Series</h5>
              <p class="card-text">Temporary blocker for glove bags and sewer knees</p>
            </div>
            <div class="card-footer text-muted">
              <div class="btn-card"><a href="/bc-series" class="btn btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BL/BL-75.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BL Series</h5>
              <p class="card-text">Reinforced temporary blocker for glove bags and drain knees</p>
            </div>
            <div class="card-footer text-muted">
              <div class="btn-card"><a href="#" class="btn btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BE/BE-1.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BE Series</h5>
              <p class="card-text">Temporary blocker for multilayer gas conduits and pipes</p>
            </div>
            <div class="card-footer text-muted">
              <div class="btn-card"><a href="#" class="btn btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/BLOQ-AC/BLOQ-AC.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BLOQ-AC Series</h5>
              <p class="card-text">Temporary split air conditioning drain blocker</p>
            </div>
            <div class="card-footer text-muted">
              <div class="btn-card"><a href="#" class="btn btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BRL/75BRL-40.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BRL Series</h5>
              <p class="card-text">Temporary blocker for linear drains</p>
            </div>
            <div class="card-footer text-muted">
              <div class="btn-card"><a href="#" class="btn btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/PFL/PFL-100.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">PFL Series</h5>
              <p class="card-text">Reinforced temporary blocker for holes in slabs</p>
            </div>
            <div class="card-footer text-muted">
              <div class="btn-card"><a href="#" class="btn btn-main-product">more details</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section class="call-to-action section-sm bg-1-product overly">

  <div class="parceiro-class">
    <h2>nosso parceiro de vendas</h2>
  </div>
  <div class="parceiro-img-class">
    <a href="https://constru.app/" target="_blank">
      <img src="../../../assets/img/parceiros/construapp_.png" alt="..." class="img-parceiro">
    </a>
  </div>

</section>
