<section id="product" class="product section">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
          <h2>Our <span class="color">Products</span> </h2>
          <div class="border"></div>
        </div>
      </div>
    </div>

    <div class="bg-trasparent" style="position: relative;">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3 ">

        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/AML/AML-45.50.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">AML Series</div>
              <div class="card-text">Washing machine water outlet aesthetic finish</div>
            </div>
            <div class="card-footer text-muted">
              <div class="div-btn-card"><a href="/aml-series/#aml" class="btn-product btn-main-product">more details</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/BTA/BTA-close-150.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BTA Series</div>
              <div class="card-text">Universal temporary blocker with handle and drain system for use with siphon drain systems</div>
            </div>
            <div class="card-footer text-muted">
              <div class="div-btn-card"><a href="/bta-series" class="btn-product btn-main-product">more details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/BT/BT-100.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BT Series</div>
              <div class="card-text">Temporary blocker for sewer pipes</div>
            </div>
            <div class="card-footer text-muted">
              <div class="div-btn-card"><a href="/bt-series" class="btn-product btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BC/BCA-40.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BC Series</div>
              <div class="card-text">Temporary blocker for glove bags and sewer knees</div>
            </div>
            <div class="card-footer text-muted">
              <div class="div-btn-card"><a href="/bc-series" class="btn-product btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BL/BL-75.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BL Series</div>
              <div class="card-text">Reinforced temporary blocker for glove bags and drain knees</div>
            </div>
            <div class="card-footer text-muted">
              <div class="div-btn-card"><a href="#" class="btn-product btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BE/BE-1.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BE Series</div>
              <div class="card-text">Temporary blocker for multilayer gas conduits and pipes</div>
            </div>
            <div class="card-footer text-muted">
              <div class="div-btn-card"><a href="#" class="btn-product btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/BAR/BAR-25.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BAR Series</div>
              <div class="card-text">Temporary split air conditioning drain blocker</div>
            </div>
            <div class="card-footer text-muted">
              <div class="div-btn-card"><a href="#" class="btn-product btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BRL/75BRL-40.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BRL Series</div>
              <div class="card-text">Temporary blocker for linear drains</div>
            </div>
            <div class="card-footer text-muted">
              <div class="div-btn-card"><a href="#" class="btn-product btn-main-product">more details</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/PFL/PFL-100.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">PFL Series</div>
              <div class="card-text">Reinforced temporary blocker for holes in slabs</div>
            </div>
            <div class="card-footer text-muted">
              <div class="div-btn-card"><a href="#" class="btn-product btn-main-product">more details</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section class="call-to-action section-sm bg-1-product overly">

  <div class="parceiro-class">
    <h2>nosso parceiro de vendas</h2>
  </div>
  <div class="parceiro-img-class">
    <a href="https://constru.app/" target="_blank">
      <img src="../../../assets/img/parceiros/construapp_.png" alt="..." class="img-parceiro">
    </a>
  </div>

</section>
