<section id="product" class="product section-product">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
          <!-- <h2>Ours<span class="color">Products</span> </h2> -->
          <h2>Nossos <span class="color">Produtos</span> </h2>
          <div class="border"></div>
        </div>
      </div>
    </div>

    <div class="bg-trasparent" style="position: relative;">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3 ">

        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/AML/AML-45.50.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">AML Series</div>
              <!-- <div class="card-text">Washing machine water outlet aesthetic finish</div> -->
              <div class="card-text">Acabamento estético para o ponto de despejo de água da máquina de lavar</div>
            </div>
            <div class="card-footer text-muted">
              <!-- <div class="div-btn-card"><a href="/aml-series/#aml" class="btn-product btn-main-product">more details</a></div> -->
              <div class="div-btn-card"><a href="/aml-series/#aml" class="btn-product btn-main-product">mais detalhes</a></div>
            </div>
          </div>
        </div>

        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/BTA/BTA-close-150.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BTA Series</div>
              <!-- <div class="card-text">Universal temporary blocker with handle and drain system for use with siphon drain systems</div> -->
              <div class="card-text">Bloqueador temporário com alça e sistema de escoamento de água do teste hidrostático</div>
            </div>
            <div class="card-footer text-muted">
              <!-- <div class="div-btn-card"><a href="/bta-series/#bta" class="btn-product btn-main-product">more details</a></div> -->
              <div class="div-btn-card"><a href="/bta-series/#bta" class="btn-product btn-main-product">mais detalhes</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/BT/BT-100.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BT Series</div>
              <!-- <div class="card-text">Temporary blocker for sewer pipes</div> -->
              <div class="card-text">Bloqueador temporário para canos de esgoto</div>
            </div>
            <div class="card-footer text-muted">
              <!-- <div class="div-btn-card"><a href="/bt-series/#bt" class="btn-product btn-main-product">more details</a></div> -->
              <div class="div-btn-card"><a href="/bt-series/#bt" class="btn-product btn-main-product">mais detalhes</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BC/BCA-40.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BC Series</div>
              <!-- <div class="card-text">Temporary blocker for glove bags and sewer knees</div> -->
              <div class="card-text">Bloqueador temporário para as conexões do esgoto de parede</div>
            </div>
            <div class="card-footer text-muted">
              <!-- <div class="div-btn-card"><a href="/bc-series/#bc" class="btn-product btn-main-product">more details</a></div> -->
              <div class="div-btn-card"><a href="/bc-series/#bc" class="btn-product btn-main-product">mais detalhes</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BL/BL-75.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BL Series</div>
              <!-- <div class="card-text">Reinforced temporary blocker for glove bags and drain knees</div> -->
              <div class="card-text">Bloqueador temporário reforçado para luvas e joelhos de esgoto</div>
            </div>
            <div class="card-footer text-muted">
              <!-- <div class="div-btn-card"><a href="/bl-series/#bl" class="btn-product btn-main-product">more details</a></div> -->
              <div class="div-btn-card"><a href="/bl-series/#bl" class="btn-product btn-main-product">mais detalhes</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BE/BE-1.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BE Series</div>
              <!-- <div class="card-text">Temporary blocker for multilayer gas conduits and pipes</div> -->
              <div class="card-text">Bloqueador temporário para conduítes e tubulações multicamada do gás</div>
            </div>
            <div class="card-footer text-muted">
              <!-- <div class="div-btn-card"><a href="/be-series/#be" class="btn-product btn-main-product">more details</a></div> -->
              <div class="div-btn-card"><a href="/be-series/#be" class="btn-product btn-main-product">mais detalhes</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/BAR/BAR-25.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BAR Series</div>
              <!-- <div class="card-text">Temporary split air conditioning drain blocker</div> -->
              <div class="card-text">Bloqueador temporário para o dreno da caixa condensadora do ar condicionado Split</div>
            </div>
            <div class="card-footer text-muted">
              <!-- <div class="div-btn-card"><a href="/bar-series/#bar" class="btn-product btn-main-product">more details</a></div> -->
              <div class="div-btn-card"><a href="/bar-series/#bar" class="btn-product btn-main-product">mais detalhes</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card shadow-sm">
            <img src="../../../assets/img/product/BRL/75BRL-40.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">BRL Series</div>
              <!-- <div class="card-text">Temporary blocker for linear drains</div> -->
              <div class="card-text">Bloqueador temporário para ralos lineares</div>
            </div>
            <div class="card-footer text-muted">
              <!-- <div class="div-btn-card"><a href="/brl-series/#brl" class="btn-product btn-main-product">more details</a></div> -->
              <div class="div-btn-card"><a href="/brl-series/#brl" class="btn-product btn-main-product">mais detalhes</a></div>
            </div>
          </div>
        </div>
        <div class="col justify-block">
          <div class="card h-100 shadow-sm">
            <img src="../../../assets/img/product/PFL/PFL-100.png" alt="..." class="img-card-product">
            <div class="card-body">
              <div class="card-title">PFL Series</div>
              <!-- <div class="card-text">Reinforced temporary blocker for holes in slabs</div> -->
              <div class="card-text">Bloqueador temporário reforçado para furos em lajes</div>
            </div>
            <div class="card-footer text-muted">
              <!-- <div class="div-btn-card"><a href="/pfl-series/#pfl" class="btn-product btn-main-product">more details</a></div> -->
              <div class="div-btn-card"><a href="/pfl-series/#pfl" class="btn-product btn-main-product">mais detalhes</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section class="call-to-action section-sm bg-1-product overly">

  <div class="parceiro-class">
    <h2>Nosso parceiro de vendas</h2>
  </div>
<div class="parceiro-img-class">
<img src="../../../assets/img/parceiros/Amazon-Logo.png" alt="" class="img-parceiro">
</div>
</section>
