<section class="bg-one-bt btseries section">
  <div class="col-12">
    <div class="title wow fadeIn" data-wow-duration="1500ms">
      <h2>BT<span class="color">Series</span></h2>
      <div class="border"></div>
    </div>

    <div class="row wow fadeInUp" data-wow-duration="500ms">
      <div class="img-prod col-4">
        <carousel (activeSlideChange)="log($event)" [interval]="0">
          <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image" alt="image slide" class="imgs-product">
          </slide>
        </carousel>
      </div>

      <div class="col-8 desc-prod">
        <div class="details-install">Utilizados para eliminar 100% os entupimentos ocasionados por concreto, cimento,
          argamassa, gesso, rejunte ou detritos de obra em geral que possam acidentalmente cair dentro dos tubos, ralos
          e prumadas de esgoto, a linha BT de produtos BLOCKTECH apresenta 5 diferentes tamanhos de bloqueadores
          temporários.</div>

        <div class="details-desc">
          Tamanhos disponíveis:
          <a (click)="selectTab(0)">
            <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>BT-150: Proteção para os pontos de
              esgoto com diâmetro de 150mm</div>
          </a>
          <a (click)="selectTab(1)">
            <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>BT-100: Proteção para os pontos de
              esgoto com diâmetro de 100mm</div>
          </a>
          <a (click)="selectTab(2)">
            <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>BT-75: Proteção para os pontos de
              esgoto com diâmetro de 75mm</div>
          </a>
          <a (click)="selectTab(2)">
            <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>BT-50: Proteção para os pontos de
              esgoto com diâmetro de 50mm</div>
          </a>
          <a (click)="selectTab(2)">
            <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>BTA-40:
              Proteção para os pontos de esgoto com diâmetro de 40mm
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="details row wow fadeInUp" data-wow-duration="500ms">
      <div class="col-12">

        <tabset #staticTabs>
          <tab class="tab-details" heading="ESPECIFICAÇÃO">
            <div class="details-install">
              A linha BT apresenta uma geometria cilíndrica que fornece o acoplamento perfeito ao tubo de esgoto e uma
              pequena aba com a função de batente que ajuda sua fixação.
            </div>
          </tab>

          <tab class="tab-details" heading="INSTALAÇÃO">
            <div class="details-install">
              BT-150 / BT-100 / BT-75<br />
              Os bloqueadores temporários devem ser instalados internamente nas tubulações de esgoto no início da obra,
              podendo ser encaixados ou colados. Na etapa de remoção do produto, a parte superior é rompida pela
              superfície de menor espessura que circula toda peça.
              Os produtos são compatíveis com a cola adesiva PVC facilmente encontrada no mercado e podem ser utilizados
              nos pontos de ralos, prumadas de esgoto e furos de fachada deixados para a instalação do ar-condicionado
              Split.<br />

              <hr>

              BT-50 / BT-40<br />
              Estes dois produtos devem ser encaixados internamente nas tubulações de esgoto no início da obra e devem
              ser removidos pelo rompimento da parte circular de menor espessura que se encontra cima da logomarca
              central “B”. Deve ser utilizado uma chave de fenda, chave Philips ou qualquer objeto pontiagudo para esta
              ação.
              Os Bloqueadores temporários podem ser utilizados nos pontos de prumada de esgoto dos lavatórios, pias,
              tanques, máquina de lavar roupa.

            </div>
            <div class="row details-prod">
              <div class="row img-install">
                <div class="col-4 text-center">
                  <!-- <div class="w-100 mb-3">DESC VIDEO</div>
                  <video id="video" controls preload="metadata" class="video">
                    <source src="../../../../../assets/img/product/BT/" type="video/mp4">
                  </video> -->
                </div>
                <div class="col-4 text-center">
                  <!-- <div class="w-100 mb-3">DESC VIDEO</div>
                  <video id="video" controls preload="metadata" class="video">
                    <source src="../../../../../assets/img/product/BT/" type="video/mp4">
                  </video> -->
                </div>
                <div class="col-4 text-center">
                  <!-- <div class="w-100 mb-3">DESC VIDEO</div>
                  <video id="video" controls preload="metadata" class="video">
                    <source src="../../../../../assets/img/product/BT/" type="video/mp4">
                  </video> -->
                </div>
              </div>
            </div>

          </tab>
        </tabset>
      </div>
      <div class="border-line"></div>
    </div>

    <div class="col-12">
      <app-productall></app-productall>
    </div>
  </div>

</section>
