<section id="be" class="bg-one-be beseries section">

  <div class="col-12">
    <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
      <h2>BE<span class="color">series</span> </h2>
      <div class="border"></div>
    </div>
  </div>

  <div style="margin-top: 40px; display: flex; justify-content: center; color: #ffffff; font-family: 'LEMONMILK-Bold', Arial, Helvetica, sans-serif; font-size: 20px;">
    Entre em contato conosco e saiba mais...
  </div>
  <div style="width: 100%;display: flex; justify-content: center; margin-top: 40px; margin-bottom: 40px;">
    <a href="#contact" class="btn-about btn-main-about temp">Start a project with us</a>
  </div>

  <!-- <div class="row wow fadeInUp" data-wow-duration="500ms">
    <div class="img-prod col-4">
      <carousel (activeSlideChange)="log($event)" [interval]="0">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" class="imgs-product">
        </slide>
      </carousel>
    </div>

    <div class="col-8 desc-prod">
      <div class="details-desc">A linha de produtos AML foi desenvolvido com o objetivo de oferecer um acabamento
        de qualidade para o ponto
        de despejo de água da máquina de lavar roupa. O material fornece um maior conforto estético visual para sua
        casa.</div>

      <div class="details-desc">
        Tamanhos disponíveis:
        <a (click)="selectTab(0)">
          <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>45AML50 - Inclinação de 45º com
            diâmetro de 50mm.</div>
        </a>
        <a (click)="selectTab(1)">
          <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>45AML40 - Inclinação de 45º com
            diâmetro de 40mm.</div>
        </a>
        <a (click)="selectTab(2)">
          <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>90AML50 - Ângulo de 90º com
            diâmetro
            de 50mm.</div>
        </a>
        <a (click)="selectTab(3)">
          <div class="closed"><fa-icon [icon]="check" class="icon-check"></fa-icon>90AML40 - Ângulo de 90º com
            diâmetro
            de 40mm com anel ou sem anel.</div>
        </a>
      </div>
    </div>
  </div> -->

  <div class="details row wow fadeInUp" data-wow-duration="500ms">
    <!-- <div class="col-12 d-flex">
      <tabset #staticTabs>
        <tab class="tab-details" heading="ESPECIFICAÇÃO">
          <div class="details-install">
            A linha de produto AML apresenta uma geometria circular com diâmetro de 100 mm que faceará a cerâmica com
            uma seção cilíndrica localizada atrás da peça que possui uma inclinação de 45º e se encaixa no tubo de
            esgoto com diâmetro dentro dos tamanhos disponíveis.
            O produto apresenta abertura frontal para a entrada das mangueiras utilizadas nas máquinas de lavar roupa.
          </div>
        </tab>

        <tab class="tab-details" heading="INSTALAÇÃO">
          <div class="details-install">
            O produto será encaixado diretamente no tubo de esgoto com inclinação de 45º.
            Não será necessário nenhum tipo de cola, massa ou rejunte para fixar o produto, trata-se de uma instalação
            limpa. As fotos e o vídeo abaixo demonstram a instalação.
          </div>
          <div class="row details-prod">
            <div class="row img-install">
              <div class="col-4">
                <video id="video" controls preload="metadata" class="video">
                  <source src="../../../../../assets/img/product/AML/videos/amlseries-install.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <div class="col-3">
                <carousel (activeSlideChange)="log($event)" [interval]="0">
                  <slide *ngFor="let slide of slides_install; let index=index">
                    <img [src]="slide.image" alt="image slide" class="imgs-product">
                  </slide>
                </carousel>
              </div>
              <div class="col-4">
                <div class="desc-step-install"><i>{{slideChangeMessage}}</i></div>
              </div>
            </div>

          </div>
        </tab>
      </tabset>
    </div> -->

    <div class="border-line"></div>
  </div>

  <div class="col-12">
    <app-productall></app-productall>
  </div>
</section>
