.header-img {
  background-image   : url('../../../assets/img/banner.png');
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: top;
  opacity            : 0.9;
  filter             : grayscale(50%);
  width              : 100vw;
  height             : 77%;
}

.flex-box {
  display        : flex;
  align-items    : center;
  justify-content: center;
  padding-top    : 6vw;
}

@media screen and (max-width: 963px) {
  .header-img {
    background-image   : url('../../../assets/img/banner.png');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: top;
    opacity            : 0.9;
    filter             : grayscale(50%);
    width              : 100vw;
    height             : 20%;
  }
}
