<section class="bg-one product section">
  <div class="container col-12">
    <div class="row">
      <div class="col-12">
        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
          <h2>Our <span class="color">Products</span> </h2>
          <div class="border"></div>
        </div>
      </div>
    </div>


    <div class="container-xxl py-5">
      <div class="col-12 row g-4 justify-content-center">

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
          <div class="service-item bg-light overflow-hidden h-100">
            <img class="img-fluid" src="../../assets/img/product/BE-1.png" alt="">
            <div class="service-text position-relative text-center h-100 p-4">
              <h5 class="mb-3">Building Bloqueador temporário para eletrodu</h5>
              <a class="small" href="">READ MORE
                <fa-icon class="ms-3" [icon]="faArrowRight"></fa-icon>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s"
          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <div class="service-item bg-light overflow-hidden h-100">
            <img class="img-fluid" src="../../assets/img/product/BL-75.png" alt="">
            <div class="service-text position-relative text-center h-100 p-4">
              <h5 class="mb-3">Bloqueador temporário reforçado para parte superior da luva de esgoto</h5>
              <a class="small" href="">READ MORE<fa-icon class="ms-3" [icon]="faArrowRight"></fa-icon></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <div class="service-item bg-light overflow-hidden h-100">
            <img class="img-fluid" src="../../assets/img/product/Espelho 45.50.png" alt="">
            <div class="service-text position-relative text-center h-100 p-4">
              <h5 class="mb-3">Acabamento estético BLOCKTECH para o ponto de despejo de água da máquina de lavar roupa
              </h5>
              <a class="small" href="">READ MORE<fa-icon class="ms-3" [icon]="faArrowRight"></fa-icon></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
          <div class="service-item bg-light overflow-hidden h-100">
            <img class="img-fluid" src="../../assets/img/product/Espelho 90.50.png" alt="">
            <div class="service-text position-relative text-center h-100 p-4">
              <h5 class="mb-3">Acabamento estético BLOCKTECH</h5>
              <a class="small" href="">READ MORE<fa-icon class="ms-3" [icon]="faArrowRight"></fa-icon></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s"
          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <div class="service-item bg-light overflow-hidden h-100">
            <img class="img-fluid" src="../../assets/img/product/PFL-50.png" alt="">
            <div class="service-text position-relative text-center h-100 p-4">
              <h5 class="mb-3">Protetor para furos de laje</h5>
              <a class="small" href="">READ MORE<fa-icon class="ms-3" [icon]="faArrowRight"></fa-icon></a>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s"
            style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="service-item bg-light overflow-hidden h-100">
              <img class="img-fluid" src="../../assets/img/product/BE-1.png" alt="">
              <div class="service-text position-relative text-center h-100 p-4">
                <h5 class="mb-3">Interior Design</h5>
                <p>
                  Tempor erat elitr rebum at clita dolor diam ipsum sit diam
                  amet diam et eos
                </p>
                <a class="small" href="">READ MORE<fa-icon class="ms-3" [icon]="faArrowRight"></fa-icon></a>
              </div>
            </div>
          </div> -->

      </div>
    </div>


  </div>
</section>
