<section class="bg-one product section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
          <h2>Our <span class="color">Products</span> </h2>
          <div class="border"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col img-product"></div>

      <div class="col card">
        <div class="card__content">
          <p class="card__title">Lorem ipsum</p>
          <p>Soluta dolor praesentium at quod autem omnis, amet earum nesciunt porro.</p>
        </div>
      </div>

    </div>
  </div>
</section>
