<section class="product section">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
          <h2>Our <span class="color">Products</span> </h2>
          <div class="border"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/img/product/75-BRL/75BRL-40.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">75-BRL Series</h5>
              <p class="card-text">Temporary blocker for linear drains</p>
              <div class="btn-card"><a href="#" class="btn btn-warning">more details</a></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/img/product/BCA/BCA-40.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BCA Series</h5>
              <p class="card-text">Temporary blocker for glove bags and sewer knees</p>
              <div class="btn-card"><a href="#" class="btn btn-warning">more details</a></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/img/product/BE/BE-1.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BE Series</h5>
              <p class="card-text">Temporary blocker for multilayer gas conduits and pipes</p>
              <div class="btn-card"><a href="#" class="btn btn-warning">more details</a></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/img/product/BL/BL-75.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BL Series</h5>
              <p class="card-text">Reinforced temporary blocker for glove bags and drain knees</p>
              <div class="btn-card"><a href="#" class="btn btn-warning">more details</a></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../assets/img/product/BLOQ-AC/BLOQ-AC.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BLOQ-AC Series</h5>
              <p class="card-text">Temporary split air conditioning drain blocker</p>
              <div class="btn-card"><a href="#" class="btn btn-warning">more details</a></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../assets/img/product/BT/BT-100.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BT Series</h5>
              <p class="card-text">Temporary blocker for sewer pipes</p>
              <div class="btn-card"><a href="#" class="btn btn-warning">more details</a></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../assets/img/product/BTA/BTA-150.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">BTA Series</h5>
              <p class="card-text">Universal temporary blocker with handle and drain system for use with siphon drain
                systems</p>
              <div class="btn-card"><a href="#" class="btn btn-warning">more details</a></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../assets/img/product/ESPELHO/ESP-45.50.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">ESPELHO Series</h5>
              <p class="card-text">Washing machine water outlet aesthetic finish</p>
              <div class="btn-card"><a href="#" class="btn btn-warning">more details</a></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="../../assets/img/product/PFL/PFL-50.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">PFL Series</h5>
              <p class="card-text">Reinforced temporary blocker for holes in slabs</p>
              <div class="btn-card"><a href="#" class="btn btn-warning">more details</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section class="section-sm bg-1 overly">
  <div class="row">
    <div class="col-md-12 card-banner">
      <div class="text-banner text-center ">
        <div class="txt-check">
          <fa-icon [icon]="check" class="faCheck"></fa-icon>
          <h2>Prototypes + Testing + Homologation </h2>
        </div>
        <div class="txt-check">
          <p class="desc-banner">Blocktech Industrial Production We design and manufacture the
            product that solves your problem</p>
        </div>
        <hr>
        <a href="#contact" class="btn btn-main">Start a project with us</a>
      </div>
    </div>
  </div>
</section>
