  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 100%;
  }

  .product {
    background-color: #252a31;
    height          : auto;
  }

  .bg-one {
    background-color: #252a31;
  }

  .color {
    color: #eb6516;
  }

  .border {
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    height    : 1px;
    margin    : 15px auto 0;
    position  : relative;
    width     : 30%;
    border    : 1px solid #dee2e6 !important;
  }

  .border:before {
    content         : "";
    height          : 6px;
    left            : 50%;
    margin-left     : -20px;
    position        : absolute;
    top             : -4px;
    width           : 50px;
    background-color: #eb6516;
  }

  .title {
    padding-top   : 60px;
    padding-bottom: 60px;
  }

  .title h2 {
    text-transform: capitalize;
    font-weight   : 700;
    font-size     : 38px;
    color         : #fff;
  }

  .title h2 span {
    color: #eb6516;
  }

  .title p {
    color: #666;
  }

  .title.title-white h2 {
    color: #fff;
  }



  .card-product {
    display  : flex;
    flex-wrap: wrap;
  }

  .card-img {
    width: 33.33333333%;
  }

  .img-product {
    width: 100%;
  }

  .card-desc {
    color  : #666;
    width  : 66.66666666%;
    padding: 6rem;
  }

  .card-desc-title {
    color         : white;
    margin-top    : 35px;
    margin-bottom : 10px;
    font-weight   : 800;
    letter-spacing: 0.01em;
  }

  .card-desc-content {
    margin-top: 1rem;
    opacity   : 0;
    animation : ContentFadeIn .8s 1.6s forwards;
  }

  @keyframes LineFadeIn {
    0% {
      opacity: 0;
      d      : path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
      stroke : #fff;
    }

    50% {
      opacity: 1;
      d      : path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
      stroke : #888BFF;
    }

    100% {
      opacity: 1;
      d      : path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
      stroke : #545581;
    }
  }

  @keyframes ContentFadeIn {
    0% {
      transform: translateY(-1rem);
      opacity  : 0;
    }

    100% {
      transform: translateY(0);
      opacity  : 1;
    }
  }

  @keyframes ImageFadeIn {
    0% {
      transform: translate(-.5rem, -.5rem) scale(1.05);
      opacity  : 0;
      filter   : blur(2px);
    }

    50% {
      opacity: 1;
      filter : blur(2px);
    }

    100% {
      transform: translateY(0) scale(1.0);
      opacity  : 1;
      filter   : blur(0);
    }
  }

  /* RESPONSIVE */
  @media screen and (max-width: 963px) {
    .card-desc {
      width  : 100%;
      padding: 2rem;
    }

    .card-img {
      width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    .card-desc {
      width  : 100%;
      padding: 2rem;
    }

    .card-img {
      width: 100%;
    }
  }




  .service-text::before {
    position  : absolute;
    content   : "";
    width     : 100%;
    height    : 0;
    top       : 0;
    left      : 0;
    background: #edaf8b;
    opacity   : 0;
    transition: .5s;
  }

  .service-item {
    width: 100%;

  }

  .service-item:hover .service-text::before {
    height : 100%;
    opacity: 1;
  }

  .service-text * {
    position  : relative;
    transition: .5s;
    z-index   : 1;
  }

  .service-item:hover .service-text * {
    color: #FFFFFF !important;
  }

  .bg-light {
    background-color: #F8F9FA !important;
  }

  .img-fluid {
    width : 100%;
    height: auto;
  }

  .g-4,
  .gx-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-4,
  .gy-4 {
    --bs-gutter-y: 1.5rem;
  }

  .justify-content-center {
    justify-content: center !important;
  }

  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width        : 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left : var(--bs-gutter-x, .75rem);
    margin-right : auto;
    margin-left  : auto;
  }

  .py-5 {
    padding-top   : 3rem !important;
    padding-bottom: 3rem !important;
  }
