.contact {
  height: auto;
}

.bg-one-contact {
  background-color: #363a43;
}

.color {
  color: #eb7625;
}

.border {
  border-top: 2px solid #666666;
  height    : 1px;
  margin    : 15px auto 0;
  position  : relative;
  width     : 30%;
  border    : 1px solid #dee2e6 !important;
}

.border:before {
  content         : "";
  height          : 6px;
  left            : 50%;
  margin-left     : -20px;
  position        : absolute;
  top             : -4px;
  width           : 50px;
  background-color: #eb7625;
}

.title {
  padding-top   : 50px;
  padding-bottom: 50px;
}

.title h2 {
  text-transform: capitalize;
  font-weight   : 700;
  font-size     : 38px;
  color         : #fff;
}

.title h2 span {
  color: #eb7625;
}

.title p {
  color: #666;
}

.title.title-white h2 {
  color: #fff;
}

.txt_title_contact {
  font-size: 25px;
}

.txt_desc_contact {
  font-family  : 'Effra-Regular', Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.call-to-action-contact {
  background-attachment: fixed;
  height               : 300px;
}

.call-to-action-contact h2 {
  font-weight: 700;
  color      : #ffffff;
}

.call-to-action-contact p {
  font-size: 16px;
  color    : #ffffff;
}

.section-sm {
  padding: 50px 0;
}

.bg-1-contact {
  background-color: #242930;
}

.contact-info {
  color        : #afbac4;
  margin-bottom: 25px;
  text-align   : justify;
}

i-bs {
  width : 1rem;
  height: 1rem;
  color : #eb7625;
}

.contact-details {
  display: inline-flex;
  padding: 8px 0 0 13px;
  width  : 100%;
}

.contact-details-icon {
  width        : 5%;
  padding-right: 25px;
}

.contact-details-txt {
  font-family: 'Effra-Regular', Arial, Helvetica, sans-serif;
  font-size  : 15px;
  width      : 80%;
}

.grow1 {
  flex-grow: 1;
}


.con-info i,
.con-info span {
  float: left;
}

.con-info span {
  margin: -5px 0 0 15px;
}

.contact-form {
  margin-bottom: 60px;
  font-family  : 'Effra-Medium', Arial, Helvetica, sans-serif;
}

.contact-form .form-control {
  background-color: transparent;
  border          : 1px solid #666666;
  height          : 45px;
  color           : #afbac4;
}

.contact-form textarea.form-control {
  padding: 10px;
  height : 120px;
  color  : #afbac4;
}

.contact-form input:hover,
.contact-form textarea:hover,
#contact-submit:hover {
  border-color: #eb7625;
}

#contact-submit {
  border    : 1px solid #666666;
  background: #eb7625;
  padding   : 12px 0;
  width     : 100%;
  margin    : 0;
}

.form-group {
  margin-bottom: 1rem;
  color        : #afbac4;
}

.form-group:last-child,
.form-group:last-child input {
  margin: 0;
}

input::placeholder,
textarea::placeholder {
  color    : #afbac4 !important;
  font-size: 12px;
}

.error {
  display         : none;
  padding         : 10px;
  color           : #D8000C;
  border-radius   : 4px;
  font-size       : 13px;
  background-color: #FFBABA;
}

.success {
  background-color: #6cb670;
  border-radius   : 4px;
  color           : #fff;
  display         : none;
  font-size       : 13px;
  padding         : 10px;
}

@media screen and (max-width: 963px) {
  .contact-details-txt {
    font-size  : 14px;
    width      : 100%;
  }
}
