html,
body {
  height: 100%;
}

body {
  margin     : 0 0 0 0;
  font-family: 'LEMONMILK-Light', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'LEMONMILK-Medium';
  src        : url('assets/font/lemon-milk/LEMONMILK-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'LEMONMILK-Bold';
  src        : url('assets/font/lemon-milk/LEMONMILK-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'LEMONMILK-Light';
  src        : url('assets/font/lemon-milk/LEMONMILK-Light.otf') format('truetype');
}

@font-face {
  font-family: 'LEMONMILK-Regular';
  src        : url('assets/font/lemon-milk/LEMONMILK-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Effra-Medium';
  src        : url('assets/font/Trial_effra/TrialStaticFonts/Effra_Trial_Md.ttf') format('truetype');
}

@font-face {
  font-family: 'Effra-Regular';
  src        : url('assets/font/Trial_effra/TrialStaticFonts/Effra_Trial_Rg.ttf') format('truetype');
}

@font-face {
  font-family: 'Effra-Bold';
  src        : url('assets/font/Trial_effra/TrialStaticFonts/Effra_Trial_Bd.ttf') format('truetype');
}
